<form (ngSubmit)="onAddItem(f)" #f="ngForm">
    <div class="row">
        <div class="col-9">
            <div class="form-floating mb-3">
                <input name="ingName" ngModel type="text" class="form-control" id="nameinp" placeholder="Ingredient"
                    required>
                <label for="nameinp">Name</label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating mb-3">
                <input name="ingAmount" ngModel type="number" step="1" class="form-control" id="amountinp"
                    placeholder="1" required>
                <label for="amountinp">Amount</label>
            </div>
        </div>
        <div class="col">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">
                {{ editMode ? 'Update' : 'Add' }}
            </button>
            <button class="btn btn-danger mx-3" type="button" (click)="onDelete()" [disabled]="!editMode">Remove</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
    </div>
</form>