<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form>
        <div class="mb-3">
          <label for="email-inp" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email-inp" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="plan-select" class="form-label">Select plan</label>
          <select class="form-select" id="plan-select">
            <option value="basic">Basic</option>
            <option value="advance">Advance</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="pwd-inp" class="form-label">Password</label>
          <input type="pwd" class="form-control" id="pwd-inp" placeholder="Password">
        </div>
        <div class="mb-3">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
</div>
